/* style.css */

/* Reset margin so background covers the whole screen */
body {
  margin: 0;
  padding: 0;
  background-color: black; /* makes background black */
  color: white;            /* makes text white */
  font-family: Arial, sans-serif; /* optional: clean font */
}

.flash {
  font-size: 3rem;
  font-weight: bold;
  color: red;
  animation: flash 2s infinite;
}

@keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #6c5ce7;
  color: white;
  text-decoration: none; /* removes underline */
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s;
}

.btn:hover {
  background: #341f97;
}
