/* style.css */

/* Reset margin so background covers the whole screen */
body {
  margin: 0;
  padding: 0;
  background-color: black; /* makes background black */
  color: white;            /* makes text white */
  font-family: Arial, sans-serif; /* optional: clean font */
}

.flash {
  font-size: 3rem;
  font-weight: bold;
  color: red;
  animation: flash 3s infinite;
}

@keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


.btn {
  display: inline-block;
  padding: 50px 75px;
  background: #FF0000;
  color: black;
  text-decoration: none; /* removes underline */
  font-weight: bold;
  border-radius: 8px;
  font-size: 40px;
  transition: background 0.5s;
}

.btn:hover {
  background: #800000;
}

.button {
  display: inline-block;
  padding: 50px 75px;
  background: #0000FF;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  font-size: 40px;
  transition: background 0.5s;
}

.button:hover {
  background: #151B54
}


img {
  max-width: 80%;
  height: auto;
  margin: 20px 0;
  border: 3px solid white;
  border-radius: 8px;
}
